.bg{
    background-color: darkslateblue;
}
.navbar a, h5{
    color: white;
}
.titulonav{
    text-align: center;
}
.fondo{
    margin: 5.4% 0 0 20%;
    text-align: center;
    position: fixed;
    background: no-repeat;
    background: transparent;
    z-index: -1;
}
.fondo img{
    width: 80%;
    opacity: 50%;
}
.logo{
    text-align: center;
}
.logo img{
    width: 10%;
}