.formulario{
    background-color: rgba(135, 206, 250, 0.444);
    margin: 6% auto;
    width: 70%;
    padding: 20px;
    border-radius: 50px;
}
.formulario h1{
    text-align: center;
}
.Formulario{
    float: left;
    display: flex;
}
.table .mascota{
    text-align: center;
}
.table input, select{
    width: 320px;
}
