<div class="mascotas">
    <div class="title">
        <h1><span>Mascotas</span></h1>
    </div>
    <div class="row m-3">
        <div class="cards col-sm-3" *ngFor="let animal of Animal">
            <div class="card margen" *ngIf="Animal.length > 0">
                <div class="containerimg card border-black">
                    <ng-container *ngIf="animal.especie == 'Gato'; else perro">
                        <div class="image">
                            <img src="../../../assets/gato{{G}}.jpg" alt="">
                        </div>
                    </ng-container>
                    <ng-template #perro>
                        <ng-container *ngIf="animal.especie == 'Perro'; else iguana">
                            <div class="image">
                                <img src="../../../assets/perro{{P}}.jpg" alt="">
                            </div>
                        </ng-container>
                        <ng-template #iguana>
                            <div class="image">
                                <img src="../../../assets/iguana{{I}}.jpg" alt="">
                            </div>
                        </ng-template>
                    </ng-template>
                    <div class="card-body">
                        <div class="card-text">
                            <p title="id">{{animal.id}}</p>
                            <p title="nombre"><b>Nombre:</b> {{animal.nombreAnimal}}</p>
                            <p title="especie"><b>Especie:</b> {{animal.especie}}</p>
                            <p title="edad"><b>Edad:</b> {{animal.edad}}</p>
                            <p title="nombre del dueño"><b>Dueño:</b> {{animal.nombreDuenio}}</p>
                            <p title="apellidos del dueño"><b>Apellido:</b> {{animal.apellidosDuenio}}</p>
                            <p title="telefono"><b>Telefono:</b> {{animal.telefonoDuenio}}</p>
                            <p title="motivo de consulta"><b>Motivo:</b> {{animal.motivoConsulta}}</p>
                            <p title="fecha de consulta"><b>Fecha de consulta:</b> {{animal.fechaConsulta}}</p>
                            <p title="fecha de salida"><b>Fecha de salida:</b> {{animal.fechaSalidaConsulta}}</p>
                            <p title="diagnostico"><b>diagnostico:</b> {{animal.diagnostico}}</p>
                        </div>
                    </div>
                    <div class="costo card-footer">
                        <div class="activado" title="costo de la consulta">
                            <ng-container *ngIf="animal.fechaSalidaConsulta != undefined; else elseTemplate">
                                <p><b>Costo: ${{animal.costoConsulta}}</b></p>
                                <div class="Iconos">
                                    <i (click)="deleteAnimal(animal._id)" class="fa fa-trash text-danger"></i>
                                    <i (click)="getIDAnimal(animal._id)" data-bs-toggle="modal" data-bs-target="#EDITAR"
                                    data-bs-whatever="@mdo" class="fa fa-solid fa-pen-to-square text-warning"></i>
                                </div>
                            </ng-container>
                            <ng-template #elseTemplate>
                                <br>
                                <div class="Iconos">
                                    <i (click)="getIDAnimal(animal._id)" data-bs-toggle="modal" data-bs-target="#Modal"
                                        data-bs-whatever="@mdo"
                                        class="fa-solid fa-house-medical-circle-check text-success"></i>
                                    <i (click)="getIDAnimal(animal._id)" data-bs-toggle="modal" data-bs-target="#EDITAR"
                                    data-bs-whatever="@mdo" class="fa fa-solid fa-pen-to-square text-warning"></i>
                                    <i (click)="deleteAnimal(animal._id)" class="fa fa-trash text-danger"></i>
                                </div>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="BDResultado" *ngIf="Animal.length == 0">No hay Mascotas registradas</h2>
    </div>


    <!-- MODAL -->
    <div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Formulario de Consulta</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="formulario">
                            <div class="todo">
                                <div class="table">
                                    <form class="mt-3" [formGroup]="AnimalF" (ngSubmit)="BuscarAnimales()">
                                        <div class="Formulario mb-1">
                                            <label>Nombre de la Mascota
                                                <label class="text-danger"
                                                    *ngIf="AnimalF.get('nombreAnimal')?.hasError('required') && AnimalF.get('nombreAnimal')?.touched">
                                                    <strong>es obligatorio</strong>
                                                </label>
                                                <input type="text" formControlName="nombreAnimal" class="form-control" >
                                            </label>
                                        </div>
                                        <div class=" mb-1">
                                            <label>Fecha de Salida
                                                <label class="text-danger"
                                                    *ngIf="AnimalF.get('fechaSalidaConsulta')?.hasError('required') && AnimalF.get('fechaSalidaConsulta')?.touched">
                                                    <strong>es obligatorio</strong>
                                                </label>
                                                <input type="datetime-local" formControlName="fechaSalidaConsulta"
                                                    class="form-control">
                                            </label>
                                        </div>
                                        <div class="Formulario mb-1">
                                            <label>Costo de la Consulta
                                                <label class="text-danger"
                                                    *ngIf="AnimalF.get('costoConsulta')?.hasError('required') && AnimalF.get('costoConsulta')?.touched">
                                                    <strong>es obligatorio</strong>
                                                </label>
                                                <input type="number" formControlName="costoConsulta"
                                                    class="form-control">
                                            </label>
                                        </div>
                                        <div class="Formulario mb-1">
                                            <label>Diagnostico
                                                <label class="text-danger"
                                                    *ngIf="AnimalF.get('diagnostico')?.hasError('required') && AnimalF.get('diagnostico')?.touched">
                                                    <strong>es obligatorio</strong>
                                                </label>
                                                <input type="text" formControlName="diagnostico" class="form-control">
                                            </label>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-success " data-bs-dismiss="modal" (click)="postAnimal()">Guardar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL 2 -->
    <div class=" modal fade" id="EDITAR" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Modificacion de Registro</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class=" modal-body">
                    <form>
                        <div class="formulario">
                            <div class="todo">
                                <div class="table">
                                    <form class="mt-3" [formGroup]="AnimalF" (ngSubmit)="BuscarAnimales()">
                                        <div class="Formulario mb-1">
                                            <label>Nombre de la Mascota
                                                <label class="text-danger"
                                                    *ngIf="AnimalF.get('nombreAnimal')?.hasError('required') && AnimalF.get('nombreAnimal')?.touched">
                                                    <strong>es obligatorio</strong>
                                                </label>
                                                <input type="text" formControlName="nombreAnimal" class="form-control">
                                            </label>
                                        </div>
                                        <div class="mb-1">
                                            <label>Especie de la Mascota
                                                <label class="text-danger"
                                                    *ngIf="AnimalF.get('especie')?.hasError('required') && AnimalF.get('especie')?.touched">
                                                    <strong>es obligatorio</strong>
                                                </label>
                                                <select class="form-select" aria-label="Default select example" formControlName="especie">
                                                    <option value="Gato">Gato</option>
                                                    <option value="Perro">Perro</option>
                                                    <option value="Iguana">Iguana</option>
                                                </select>
                                            </label>
                                        </div>
                                        <div class="Formulario mb-1">
                                            <label>Edad de la Mascota
                                                <label class="text-danger"
                                                    *ngIf="AnimalF.get('edad')?.hasError('required') && AnimalF.get('edad')?.touched">
                                                    <strong>es obligatorio</strong>
                                                </label>
                                                <input type="number" formControlName="edad" class="form-control">
                                            </label>
                                        </div>
                                        <div class="mb-1">
                                            <label>Nombre del Dueño
                                                <label class="text-danger"
                                                    *ngIf="AnimalF.get('nombreDuenio')?.hasError('required') && AnimalF.get('nombreDuenio')?.touched">
                                                    <strong>es obligatorio</strong>
                                                </label>
                                                <input type="text" formControlName="nombreDuenio" class="form-control">
                                            </label>
                                        </div>
                                        <div class="Formulario mb-1">
                                            <label>Apellidos del Dueño
                                                <label class="text-danger"
                                                    *ngIf="AnimalF.get('apellidosDuenio')?.hasError('required') && AnimalF.get('apellidosDuenio')?.touched">
                                                    <strong>es obligatorio</strong>
                                                </label>
                                                <input type="text" formControlName="apellidosDuenio" class="form-control">
                                            </label>
                                        </div>
                                        <div class="mb-1">
                                            <label>Numero de Contacto
                                                <label class="text-danger"
                                                    *ngIf="AnimalF.get('telefonoDuenio')?.hasError('required') && AnimalF.get('telefonoDuenio')?.touched">
                                                    <strong>es obligatorio</strong>
                                                </label>
                                                <input type="number" formControlName="telefonoDuenio" class="form-control">
                                            </label>
                                        </div>
                                        <div class="Formulario mb-1">
                                            <label>Motivo de Consulta
                                                <label class="text-danger"
                                                    *ngIf="AnimalF.get('motivoConsulta')?.hasError('required') && AnimalF.get('motivoConsulta')?.touched">
                                                    <strong>es obligatorio</strong>
                                                </label>
                                                <input type="text" formControlName="motivoConsulta" class="form-control">
                                            </label>
                                        </div>
                                        <div class=" mb-1">
                                            <label>Fecha de Consulta
                                                <label class="text-danger"
                                                    *ngIf="AnimalF.get('fechaConsulta')?.hasError('required') && AnimalF.get('fechaConsulta')?.touched">
                                                    <strong>es obligatorio</strong>
                                                </label>
                                                <input type="datetime-local" formControlName="fechaConsulta" class="form-control">
                                            </label>
                                        </div>
                                        <div class="Formulario mb-1">
                                            <label>Fecha de Salida
                                                <label class="text-danger"
                                                    *ngIf="AnimalF.get('fechaSalidaConsulta')?.hasError('required') && AnimalF.get('fechaSalidaConsulta')?.touched">
                                                    <strong>es obligatorio</strong>
                                                </label>
                                                <input type="datetime-local" formControlName="fechaSalidaConsulta"
                                                    class="form-control">
                                            </label>
                                        </div>
                                        <div class=" mb-1">
                                            <label>Costo de la Consulta
                                                <label class="text-danger"
                                                    *ngIf="AnimalF.get('costoConsulta')?.hasError('required') && AnimalF.get('costoConsulta')?.touched">
                                                    <strong>es obligatorio</strong>
                                                </label>
                                                <input type="number" formControlName="costoConsulta"
                                                    class="form-control">
                                            </label>
                                        </div>
                                        <div class="Formulario mb-1">
                                            <label>Diagnostico
                                                <label class="text-danger"
                                                    *ngIf="AnimalF.get('diagnostico')?.hasError('required') && AnimalF.get('diagnostico')?.touched">
                                                    <strong>es obligatorio</strong>
                                                </label>
                                                <input type="text" formControlName="diagnostico" class="form-control">
                                            </label>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-success " data-bs-dismiss="modal" (click)="postAnimal()">Guardar</button>
                </div>
            </div>
        </div>
    </div>



    <router-outlet></router-outlet>
    <!-- JavaScript  -->
    <script>
        const exampleModal = document.getElementById('exampleModal')
        exampleModal.addEventListener('show.bs.modal', event => {
            const button = event.relatedTarget
            const recipient = button.getAttribute('data-bs-whatever')

            const modalTitle = exampleModal.querySelector('.modal-title')
            const modalBodyInput = exampleModal.querySelector('.modal-body input')

            modalTitle.textContent = `New message to ${recipient}`
            modalBodyInput.value = recipient
        })
    </script>