.mascotas{
    margin-top: 5%;
}
.title{
    text-align: center;
}
.cards{
    margin-top: 2%;
}
.card{
    border-radius: 20px 20px 0 0;
}
.containerimg .image{
    height: 230px;
}
.costo{
    height: 90px;
}
.Iconos{
    text-align: center;
    margin: -10px auto;
}
.Iconos i:hover{
    cursor: pointer;
}
.Iconos i{
    margin-left: 10px;
}
.containerimg .image img{
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 100%;
}
.activado{
    color: rgb(118, 166, 45);
    font-size: 1.5rem;
}
.BDResultado{
    text-align: center;
}
.modal-dialog{
    width: 800px;
}

.formulario h1{
    text-align: center;
}
.Formulario{
    float: left;
    display: flex;
}
.table .mascota{
    text-align: center;
}
.table input, select{
    width: 320px;
}
